{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block home %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> Here is your home page where you can check your every records!
        Press <strong>Add</strong> to start creating a piece of record.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-10 col-center-block" style="margin-top:1rem">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title or Author</th>
                            <th>Tag</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <th>{{ record['date'] }}</th>
                            <th>{{ record['title'] }}</th>
                            <th>{{ record['tag'] }}</th>
                            <th>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal{{ record['id'] }}">
                                    Check
                                </button>
                            </th>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ record['id'] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ record['title'] }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                {{ record['content'] }}
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}