{% extends "layout.html" %}

{% block title %}
    Saying
{% endblock %}

{% block home %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Yaho!</strong> Here is the Saying page!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-9 col-center-block">
                {% for record in records %}
                <div class="card border-warning"  style="margin-top: 1rem">
                    <div class="card-header">
                        {{ record['create_at'] | schetime }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p>{{ record['content'] }}</p>
                        <footer class="blockquote-footer">{{ record['title'] }}</footer>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}